/* カード枠 */
.grid.cards.wrapper {
  display: grid;
  background: var(--vp-c-bg-soft);
  border: 1px solid var(--vp-c-divider);
  border-radius: 10px;
  transition: 0.2s;
  margin: 12px;
}

.grid.cards.wrapper:hover {
  border-color: var(--vp-c-brand);
  transform: translateY(-2px);
}

/* リンク */
.grid.cards a {
  text-decoration: none;
}

/* タイトル */
.grid.cards.title {
  margin: 0;
  padding: 12px 12px 0 12px;
  border: 0;
  color: var(--vp-c-brand-1);
  font-weight: 700;
}

/* 説明 */
.grid.cards.explain {
  margin: 0;
  padding: 0 12px 12px 12px;
  border: 0;
  color: var(--vp-c-text-2);
  font-weight: 500;
}
